body {
  background-color: rgb(56, 56, 79);
  color: whitesmoke;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: end;
  color: white;
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
}

.links {
  color: whitesmoke;
  padding: 10px;
}

.links:hover {
  color: pink;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}


.App-header {
  background-color: #22252c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.images {
  height: 100%;
  width: 100%;
}

.searchresults {
  display: grid;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: center;
}

.searchBar {
  width: 300px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(222, 219, 219);
  margin-bottom: auto;
}


.searchButton {
  background-color: #4CAF50;
  color: whitesmoke;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border: #22252c;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10%;
}

.homeButton {
  background-color: rgb(63, 63, 108);
  color: whitesmoke;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 10px;
  left: 7%;
  transform: translate(-50%);
}

.header-title {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.home {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

ul.searchresults {
  max-height: 400px;
  width: 65%;
  margin: 0 auto;
  justify-content: center;
}

.instruction {
  font-size: 25px;
  margin-bottom: auto;
}